/*! normalize.css 2011-11-04T15:38 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
audio:not([controls]) {
  display: none; }

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Keeps page centred in all browsers regardless of content height
 * 3. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */
  overflow-y: scroll;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 3 */ }

/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0; }

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
body,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Neutralise smaller font-size in 'section' and 'article' in FF4+, Chrome, S5
 */
h1 {
  font-size: 2em; }

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none; }

/* 2 */
q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
ul,
ol {
  margin-left: 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */
  *margin-left: -7px;
  /* 2 */ }

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
button,
input {
  line-height: normal;
  /* 1 */ }

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */ }

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding that is displayed in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 15px; }

.main-header {
  background-image: url("../img/hero-bg.jpg");
  background-size: cover; }
  .main-header p {
    text-align: center;
    color: white; }
  .main-header h2 {
    text-align: center;
    color: white; }

.logo {
  text-align: center; }

.main-container-home {
  background: url("../img/hero-bg.jpg");
  background-size: cover;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px; }
  .main-container-home h1, .main-container-home h3, .main-container-home h5 {
    color: white; }

.container {
  margin: 0 auto;
  max-width: 1170px; }

.nav-icons {
  list-style: none;
  padding: 0; }
  .nav-icons a {
    background: url("../img/bha.png") no-repeat top center;
    background-size: contain;
    display: block;
    position: relative;
    padding: 125px 0 0;
    height: 180px;
    color: white;
    text-decoration: none;
    width: 100%;
    position: relative; }
    .nav-icons a:hover {
      background-image: url("../img/portbg.png"); }
    .nav-icons a::before {
      content: "";
      display: block;
      background: url("../img/icons-menu2.png");
      width: 67px;
      height: 67px;
      background-position: 4px 3px;
      position: absolute;
      margin-left: -36px;
      left: 50%;
      top: 25px; }
    .nav-icons a.icon-Ser::before {
      background-position: 2px -130px; }
    .nav-icons a.icon-Por::before {
      background-position: 4px 208px; }
    .nav-icons a.icon-Abo::before {
      background-position: 4px 0; }
    .nav-icons a.icon-Tea::before {
      background-position: 2px -66px; }
    .nav-icons a.icon-Blo::before {
      background-position: 0 -262px; }
    .nav-icons a.icon-Kon::before {
      background-position: 0 -326px; }

.menu-icons {
  text-align: center; }
  .menu-icons::before {
    content: "";
    display: block;
    background-image: url("../img/icons-sprite.png");
    width: 200px;
    height: 200px;
    position: absolute;
    margin-left: -100px;
    left: 50%;
    top: 20px; }
  .menu-icons.icon-build::before {
    background-position: 0 0; }
  .menu-icons:hover::before {
    background-image: url("../img/icons-sprite-hover.png"); }
  .menu-icons.icon-clean::before {
    background-position: 0 -200px; }
  .menu-icons:hover::before {
    background-image: url("../img/icons-sprite-hover.png"); }
  .menu-icons.icon-easy::before {
    background-position: 0 -400px; }
  .menu-icons:hover::before {
    background-image: url("../img/icons-sprite-hover.png"); }
  .menu-icons.icon-fully::before {
    background-position: 0 -600px; }
  .menu-icons:hover::before {
    background-image: url("../img/icons-sprite-hover.png"); }

.pic1::before {
  background-position: 0 -132px; }

.pic2::before {
  background-position: 0 -199px; }

.pic3::before {
  background-position: 0 -2px; }

.pic4::before {
  background-position: 0 -70px; }

.pic5::before {
  background-position: 0 -260px; }

.pic6::before {
  background-position: 0 -326px; }

.menu-icons a:hover {
  background-color: #9f449b;
  overflow: hidden; }

.arrow2 {
  margin-bottom: 80px; }

.logo2 {
  margin-left: 128px;
  margin-top: 35px;
  margin-bottom: 30px;
  float: left; }

nav img {
  float: left;
  margin: 10px 0 10px 0; }
nav ul {
  float: right; }
nav li {
  display: inline-block;
  margin: 10px 10px 10px 0; }
nav a {
  text-decoration: none;
  color: black; }
  nav a:hover {
    color: purple; }

#sticky {
  width: 100%; }
  #sticky .container {
    padding-bottom: 0; }

.stick {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  border-radius: 0 0 10px 10px;
  background-color: white;
  border-bottom: 2px solid black; }

.decor {
  color: #9f449b; }

.secondary-section {
  background-color: #eeeeee;
  padding-top: 100px;
  padding-bottom: 150px; }
  .secondary-section li {
    list-style: none; }
  .secondary-section h3 {
    text-align: center; }
  .secondary-section a {
    display: block;
    position: relative;
    padding: 110px 0 100px 0;
    text-decoration: none; }
    .secondary-section a::before {
      content: "";
      display: block;
      background-image: url("../img/icons-sprite.png");
      width: 200px;
      height: 200px;
      position: absolute;
      margin-left: -100px;
      left: 50%;
      top: 20px; }
    .secondary-section a.icon-build::before {
      background-position: 0 0; }
    .secondary-section a:hover::before {
      background-image: url("../img/icons-sprite-hover.png"); }
    .secondary-section a.icon-clean::before {
      background-position: 0 -200px; }
    .secondary-section a:hover::before {
      background-image: url("../img/icons-sprite-hover.png"); }
    .secondary-section a.icon-easy::before {
      background-position: 0 -400px; }
    .secondary-section a:hover::before {
      background-image: url("../img/icons-sprite-hover.png"); }
    .secondary-section a.icon-fully::before {
      background-position: 0 -600px; }
    .secondary-section a:hover::before {
      background-image: url("../img/icons-sprite-hover.png"); }

.features h3::before {
  background-image: url("../img/icons-sprite.png");
  content: "";
  display: block;
  margin: 0 auto 10px;
  height: 190px;
  width: 200px;
  margin-top: 90px; }
.features h3, .features p {
  text-align: center;
  padding: 0 2px; }

.icon1::before {
  background-position: 0 -7px; }

.icon2::before {
  background-position: 0 -207px; }

.icon3::before {
  background-position: 0 -404px; }

.icon4::before {
  background-position: 0 -605px; }

.content-about-text {
  text-align: center;
  margin: 50px 0; }
  .content-about-text h2 {
    display: inline-block;
    position: relative; }
    .content-about-text h2::before {
      position: absolute;
      display: block;
      bottom: -4px;
      left: -20px;
      content: '';
      width: 20px;
      height: 20px;
      border: solid #9f449b;
      border-width: 0 0 1px 1px; }
    .content-about-text h2::after {
      position: absolute;
      display: block;
      top: -7px;
      right: -10px;
      content: '';
      width: 20px;
      height: 20px;
      border: solid #9f449b;
      border-width: 1px 1px 0 0; }

.content-about {
  margin-bottom: 100px; }

.content-about-text h2 {
  text-align: center;
  color: grey;
  font-family: Lato, sans-serif;
  letter-spacing: 2px;
  font-size: 45px;
  margin: 20px  0; }

.content-about-text small {
  color: #9f449b;
  font-size: 45px;
  font-family: 'Lato', sans-serif; }

.content-about-grid-left img {
  width: 100%; }

.content-about-grid-right {
  padding-left: 31px; }

.content-about-grid-right p {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  color: darkgrey;
  line-height: 33px;
  width: 92%;
  padding-left: 20px; }

.learn {
  margin-top: 2%;
  padding-left: 20px; }

.learn a {
  display: inline-block;
  background: #9f449b;
  border-bottom: solid 5px #9f449b;
  border-radius: 7px;
  padding: 1em 3em;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: white; }

.learn a:hover {
  color: #9f449b;
  text-decoration: none;
  background: transparent;
  border: solid 2px #9f449b;
  border-top: solid 5px #9f449b;
  border-radius: 10px;
  padding: 1em 3em; }

.content-about-bottom-text {
  text-align: center;
  padding: 20px 0; }

.content-about-bottom-text p {
  font-family: 'Lato', sans-serif;
  font-size: 44px;
  color: white;
  font-weight: 300;
  margin: 10px 0 0 0; }

.hat-back {
  background-image: url("../img/section-bg.jpg");
  background-size: cover;
  padding: 100px 0;
  text-align: center; }

.hat-back h2 {
  padding-top: 130px;
  background: url("../img/icoEdu.png") no-repeat top center;
  color: white;
  font-family: 'Lato', sans-serif; }

.row-arrow {
  text-align: center; }

.left-arrow {
  background: url("../img/arr-l.png") no-repeat;
  height: 120px;
  width: 105px;
  margin-right: 3px;
  display: inline-block; }

.right-arrow {
  background: url("../img/arr-r.png") no-repeat;
  height: 120px;
  width: 105px;
  margin-left: 10px;
  display: inline-block; }

.member {
  display: block; }

.our-team {
  overflow: hidden;
  position: relative;
  width: 100%; }

.team {
  position: relative;
  width: 3580px; }
  .team li {
    margin: 0 40px;
    display: inline-block;
    float: left;
    text-align: center; }

.circle {
  height: 232px;
  width: 232px;
  border: 3px solid lightslategrey;
  border-radius: 50%; }

.circle1, .circle5, .circle9 {
  background-image: url("../img/images_team1.jpg"); }

.circle2, .circle6 {
  background-image: url("../img/images_team2.jpg"); }

.circle3, .circle7 {
  background-image: url("../img/images_team3.jpg"); }

.circle4, .circle8 {
  background-image: url("../img/images_team3.jpg"); }

.social-f {
  margin: 0 10px 0 0;
  display: inline-block;
  height: 30px;
  width: 30px;
  background-image: url("../img/f.png");
  background-size: 30px 30px; }

.social-g {
  text-align: center;
  display: inline-block;
  height: 30px;
  width: 30px;
  background-image: url("../img/g.png");
  background-size: 30px 30px; }

.progress-bar {
  height: 15px;
  background: #9f449b; }

.progress-wrap {
  width: 300px;
  height: 15px;
  background: lightgrey; }

.webpercent {
  width: 300px; }

.percent {
  display: inline-block;
  float: right; }

.web {
  display: inline-block; }

.container {
  position: relative;
  padding-bottom: 50px; }

.container365 {
  background-color: red;
  text-align: center;
  padding-top: 80px;
  position: relative; }
  .container365 li {
    list-style: none; }
  .container365 p {
    font-size: 70px;
    margin: 0; }

.button-container {
  margin-top: 50px;
  margin-bottom: 50px; }

.plus {
  position: relative;
  display: inline-block; }

.plus img {
  display: block; }

.plus:hover:before {
  position: absolute;
  content: "";
  display: inline-block;
  background-image: url("../img/plus.png");
  background-color: rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%; }

.contact {
  margin-top: 100px; }

.contact .left-box {
  width: 50%;
  float: left;
  padding-bottom: 50px; }

.contact .left-box .name, .contact .left-box .email {
  display: block;
  width: 90%;
  height: 50px;
  margin: 10px 0 10px 0;
  padding-left: 20px;
  border: 2px solid black;
  outline: none; }

.contact .left-box .name:hover, .contact .left-box .email:hover {
  border: 2px solid purple; }

.contact .left-box textarea {
  width: 90%;
  padding-left: 20px;
  padding-top: 20px;
  border: 2px solid black;
  outline: none; }

.contact .left-box textarea:hover {
  border: 2px solid purple; }

.contact .right-box {
  float: left;
  width: 50%;
  display: block;
  padding-left: 40px; }

.contact .right-box h3 {
  padding-bottom: 21px; }

.social-icons {
  text-align: left; }

.social-icons .icon-1::before {
  content: "";
  display: inline-block;
  background: url("../img/get-icons.png") no-repeat;
  width: 55px;
  height: 55px;
  background-position: -78px -4px; }

.social-icons .icon-1:hover::before {
  background-position: -79px -64px; }

.social-icons .icon-2::before {
  content: "";
  display: inline-block;
  background: url("../img/get-icons.png") no-repeat;
  width: 53px;
  height: 53px;
  background-position: -6px -6px; }

.social-icons .icon-2:hover::before {
  background-position: -7px -66px; }

.social-icons .icon-3::before {
  content: "";
  display: inline-block;
  background: url("../img/get-icons.png") no-repeat;
  width: 53px;
  height: 53px;
  background-position: -154px -6px; }

.social-icons .icon-3:hover::before {
  background-position: -155px -66px; }

.footer {
  padding-top: 50px;
  padding-bottom: 70px;
  text-align: center; }

.section-6 {
  background: url("../img/section-bg.jpg") 100% 100%;
  margin-top: 100px; }
  .section-6 img {
    margin-top: 100px; }
  .section-6 p {
    text-align: center;
    color: white;
    font-size: 30px;
    padding-bottom: 100px; }
  .section-6 .row {
    text-align: center; }

.container365 {
  background-color: #DCDCDC;
  text-align: center;
  padding-top: 80px;
  position: relative; }
  .container365 li {
    list-style: none; }
  .container365 p {
    font-size: 70px;
    margin: 0; }

.kolo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto; }

.container-blog {
  background-color: #DCDCDC;
  text-align: center;
  padding: 50px 0 50px 0;
  position: relative; }
  .container-blog .kolo6 {
    background: url("../img/n2.jpg"); }
  .container-blog .kolo7 {
    background: url("../img/n3.jpg"); }
  .container-blog .kolo8 {
    background: url("../img/n4.jpg"); }
  .container-blog .kolo9 {
    background: url("../img/n5.jpg"); }
  .container-blog .kolo10 {
    background: url("../img/n1.jpg"); }

.white_div {
  position: absolute;
  width: 80%;
  height: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: white;
  bottom: 0; }

.container-portfolio {
  text-align: center; }
  .container-portfolio .button-sec-9 {
    display: inline-block;
    width: 70px;
    border: 2px solid black;
    text-align: center;
    color: black;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
    text-decoration: none;
    margin-bottom: 50px; }
    .container-portfolio .button-sec-9:hover {
      background-color: purple; }

.button-container {
  margin-top: 50px;
  margin-bottom: 50px; }

.plus {
  position: relative;
  display: inline-block; }
  .plus img {
    display: block; }
  .plus:hover:before {
    position: absolute;
    content: "";
    display: inline-block;
    background-image: url("../img/plus.png");
    background-color: rgba(0, 0, 0, 0.3);
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%; }

.contact {
  margin-top: 100px; }
  .contact .left-box {
    width: 50%;
    float: left;
    padding-bottom: 50px; }
    .contact .left-box .name, .contact .left-box .email {
      display: block;
      width: 90%;
      height: 50px;
      margin: 10px 0 10px 0;
      padding-left: 20px;
      border: 2px solid black;
      outline: none; }
      .contact .left-box .name:hover, .contact .left-box .email:hover {
        border: 2px solid purple; }
    .contact .left-box textarea {
      width: 90%;
      padding-left: 20px;
      padding-top: 20px;
      border: 2px solid black;
      outline: none; }
      .contact .left-box textarea:hover {
        border: 2px solid purple; }
  .contact .right-box {
    float: left;
    width: 50%;
    display: block;
    padding-left: 40px; }
    .contact .right-box h3 {
      padding-bottom: 21px; }

.social-icons {
  text-align: left; }
  .social-icons .icon-1::before {
    content: "";
    display: inline-block;
    background: url("../img/get-icons.png") no-repeat;
    width: 55px;
    height: 55px;
    background-position: -78px -4px; }
  .social-icons .icon-1:hover::before {
    background-position: -79px -64px; }
  .social-icons .icon-2::before {
    content: "";
    display: inline-block;
    background: url("../img/get-icons.png") no-repeat;
    width: 53px;
    height: 53px;
    background-position: -6px -6px; }
  .social-icons .icon-2:hover::before {
    background-position: -7px -66px; }
  .social-icons .icon-3::before {
    content: "";
    display: inline-block;
    background: url("../img/get-icons.png") no-repeat;
    width: 53px;
    height: 53px;
    background-position: -154px -6px; }
  .social-icons .icon-3:hover::before {
    background-position: -155px -66px; }

.footer {
  padding-top: 50px;
  padding-bottom: 70px;
  text-align: center; }

@media only screen and (max-width: 992px) {
  .button-email {
    text-align: center;
    padding-top: 50px; }

  .social-icons ul {
    margin: 0;
    padding: 0; }

  .arrow-section4 {
    text-align: center; }

  .team-slider {
    width: 350px; }

  .section1 li {
    display: inline-block; }

  .section2 .button-container {
    text-align: center; }
  .section2 p {
    text-align: center;
    margin-bottom: 10px; }

  .main_container {
    font-size: 15px; }
    .main_container img {
      width: 300px; }

  nav .hamburger {
    float: right; }
  nav ul {
    text-align: center;
    width: 100%; }
  nav li {
    display: block;
    border-bottom: 1px solid black;
    width: 300px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0 auto; } }
@media only screen and (min-width: 992px) {
  .hamburger {
    display: inline-block; } }
.nav-inside {
  display: none; }
  @media only screen and (min-width: 992px) {
    .nav-inside {
      display: block; } }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-11 {
    width: 91.66666667%; }

  .col-sm-10 {
    width: 83.33333333%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-8 {
    width: 66.66666667%; }

  .col-sm-7 {
    width: 58.33333333%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-5 {
    width: 41.66666667%; }

  .col-sm-4 {
    width: 33.33333333%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-2 {
    width: 16.66666667%; }

  .col-sm-1 {
    width: 8.33333333%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-pull-11 {
    right: 91.66666667%; }

  .col-sm-pull-10 {
    right: 83.33333333%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-8 {
    right: 66.66666667%; }

  .col-sm-pull-7 {
    right: 58.33333333%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-5 {
    right: 41.66666667%; }

  .col-sm-pull-4 {
    right: 33.33333333%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-2 {
    right: 16.66666667%; }

  .col-sm-pull-1 {
    right: 8.33333333%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-push-11 {
    left: 91.66666667%; }

  .col-sm-push-10 {
    left: 83.33333333%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-8 {
    left: 66.66666667%; }

  .col-sm-push-7 {
    left: 58.33333333%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-5 {
    left: 41.66666667%; }

  .col-sm-push-4 {
    left: 33.33333333%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-2 {
    left: 16.66666667%; }

  .col-sm-push-1 {
    left: 8.33333333%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-offset-12 {
    margin-left: 100%; }

  .col-sm-offset-11 {
    margin-left: 91.66666667%; }

  .col-sm-offset-10 {
    margin-left: 83.33333333%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-8 {
    margin-left: 66.66666667%; }

  .col-sm-offset-7 {
    margin-left: 58.33333333%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-5 {
    margin-left: 41.66666667%; }

  .col-sm-offset-4 {
    margin-left: 33.33333333%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-2 {
    margin-left: 16.66666667%; }

  .col-sm-offset-1 {
    margin-left: 8.33333333%; }

  .col-sm-offset-0 {
    margin-left: 0%; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-12 {
    width: 100%; }

  .col-md-11 {
    width: 91.66666667%; }

  .col-md-10 {
    width: 83.33333333%; }

  .col-md-9 {
    width: 75%; }

  .col-md-8 {
    width: 66.66666667%; }

  .col-md-7 {
    width: 58.33333333%; }

  .col-md-6 {
    width: 50%; }

  .col-md-5 {
    width: 41.66666667%; }

  .col-md-4 {
    width: 33.33333333%; }

  .col-md-3 {
    width: 25%; }

  .col-md-2 {
    width: 16.66666667%; }

  .col-md-1 {
    width: 8.33333333%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-pull-11 {
    right: 91.66666667%; }

  .col-md-pull-10 {
    right: 83.33333333%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-8 {
    right: 66.66666667%; }

  .col-md-pull-7 {
    right: 58.33333333%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-5 {
    right: 41.66666667%; }

  .col-md-pull-4 {
    right: 33.33333333%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-2 {
    right: 16.66666667%; }

  .col-md-pull-1 {
    right: 8.33333333%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-push-11 {
    left: 91.66666667%; }

  .col-md-push-10 {
    left: 83.33333333%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-8 {
    left: 66.66666667%; }

  .col-md-push-7 {
    left: 58.33333333%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-5 {
    left: 41.66666667%; }

  .col-md-push-4 {
    left: 33.33333333%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-2 {
    left: 16.66666667%; }

  .col-md-push-1 {
    left: 8.33333333%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-offset-12 {
    margin-left: 100%; }

  .col-md-offset-11 {
    margin-left: 91.66666667%; }

  .col-md-offset-10 {
    margin-left: 83.33333333%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-8 {
    margin-left: 66.66666667%; }

  .col-md-offset-7 {
    margin-left: 58.33333333%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-5 {
    margin-left: 41.66666667%; }

  .col-md-offset-4 {
    margin-left: 33.33333333%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-2 {
    margin-left: 16.66666667%; }

  .col-md-offset-1 {
    margin-left: 8.33333333%; }

  .col-md-offset-0 {
    margin-left: 0%; } }
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-11 {
    width: 91.66666667%; }

  .col-lg-10 {
    width: 83.33333333%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-8 {
    width: 66.66666667%; }

  .col-lg-7 {
    width: 58.33333333%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-5 {
    width: 41.66666667%; }

  .col-lg-4 {
    width: 33.33333333%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-2 {
    width: 16.66666667%; }

  .col-lg-1 {
    width: 8.33333333%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-pull-11 {
    right: 91.66666667%; }

  .col-lg-pull-10 {
    right: 83.33333333%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-8 {
    right: 66.66666667%; }

  .col-lg-pull-7 {
    right: 58.33333333%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-5 {
    right: 41.66666667%; }

  .col-lg-pull-4 {
    right: 33.33333333%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-2 {
    right: 16.66666667%; }

  .col-lg-pull-1 {
    right: 8.33333333%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-push-11 {
    left: 91.66666667%; }

  .col-lg-push-10 {
    left: 83.33333333%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-8 {
    left: 66.66666667%; }

  .col-lg-push-7 {
    left: 58.33333333%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-5 {
    left: 41.66666667%; }

  .col-lg-push-4 {
    left: 33.33333333%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-2 {
    left: 16.66666667%; }

  .col-lg-push-1 {
    left: 8.33333333%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-offset-12 {
    margin-left: 100%; }

  .col-lg-offset-11 {
    margin-left: 91.66666667%; }

  .col-lg-offset-10 {
    margin-left: 83.33333333%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-8 {
    margin-left: 66.66666667%; }

  .col-lg-offset-7 {
    margin-left: 58.33333333%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-5 {
    margin-left: 41.66666667%; }

  .col-lg-offset-4 {
    margin-left: 33.33333333%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-2 {
    margin-left: 16.66666667%; }

  .col-lg-offset-1 {
    margin-left: 8.33333333%; }

  .col-lg-offset-0 {
    margin-left: 0%; } }
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table; }

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both; }

/*# sourceMappingURL=style.css.map */
