* {
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}
.main-header{
  background-image: url('../img/hero-bg.jpg');
  background-size: cover;
  p{
    text-align: center;
    color: white;
  }
  h2{
    text-align: center;
    color:white;
  }
}
.logo{
  text-align: center;
}

.main-container-home
{
	background:url('../img/hero-bg.jpg');
	background-size:cover;
	text-align:center;
	padding-top: 50px;
	padding-bottom:50px;
	h1, h3, h5
	{
		color:white;
	}
}


.container
{
	margin: 0 auto;
	max-width: 1170px;
}


.nav-icons {
	list-style: none;
	padding: 0;
	a {
		background:url('../img/bha.png') no-repeat top center;
		background-size: contain;
		display:block;
		position:relative;
		padding: 125px 0 0;
		height: 180px;
		color:white;
		text-decoration:none;
		width: 100%;
		position:relative;



		&:hover {
			background-image: url('../img/portbg.png');
		}

		&::before{

			content:"";
			display:block;
			background:url('../img/icons-menu2.png');
			width:67px;
			height:67px;
			background-position: 4px 3px;
			position:absolute;
			margin-left:-36px;
			left:50%;
			top:25px;
		}

		&.icon-Ser::before {
			background-position:2px -130px;
		}
		&.icon-Por::before{
			background-position:4px 208px;
		}
		&.icon-Abo::before{
			background-position:4px 0;
		}
		&.icon-Tea::before{
			background-position:2px -66px;
		}
		&.icon-Blo::before{
			background-position:0 -262px;
		}
		&.icon-Kon::before{
			background-position:0 -326px
		}
	}
}

.menu-icons {
  text-align: center;
  &::before{
    content:"";
    display:block;
    background-image:url('../img/icons-sprite.png');
    width: 200px;
    height: 200px;
    position:absolute;
    margin-left:-100px;
    left:50%;
    top:20px;
  }

  &.icon-build::before {
    background-position: 0 0;
  }
    &:hover{
      &::before{
        background-image:url('../img/icons-sprite-hover.png');
      }
    }

  &.icon-clean::before{
    background-position:0 -200px;
  }
    &:hover{
      &::before{
        background-image:url('../img/icons-sprite-hover.png');
      }
    }

  &.icon-easy::before{
    background-position:0 -400px;
  }
    &:hover{
      &::before{
        background-image:url('../img/icons-sprite-hover.png');
      }
    }

  &.icon-fully::before{
    background-position:0 -600px;
  }
    &:hover{
      &::before{
        background-image:url('../img/icons-sprite-hover.png');
      }
    }

}
.pic1 {
  &::before {
    background-position: 0 -132px;
  }
}
.pic2 {
  &::before {
    background-position: 0 -199px;
  }
}
.pic3 {
  &::before {
    background-position: 0 -2px;
  }
}
.pic4 {
  &::before {
    background-position: 0 -70px;
  }
}
.pic5 {
  &::before {
    background-position: 0 -260px;
  }
}
.pic6 {
  &::before {
    background-position: 0 -326px;
  }
}
.menu-icons a:hover{
  background-color: rgb(159,68, 155);
  overflow: hidden;
}
.arrow2{
  margin-bottom: 80px;
}
.logo2{
  margin-left: 128px;
  margin-top: 35px;
  margin-bottom: 30px;
  float:left;
}
nav{
	img{
		float:left;
		margin:10px 0 10px 0;
	}
	ul{
		float:right;
	}
	li{
		display:inline-block;
		margin:10px 10px 10px 0;
	}
	a{
		text-decoration: none;
		color:black;
		&:hover{
			color:purple;
		}
	}
}

#sticky{
	width:100%;
  .container {
    padding-bottom: 0;
  }
}
.stick{
		position:fixed;
		top:0;
		z-index:1;
		width:100%;
		border-radius:0 0 10px 10px;
		background-color:white;
		border-bottom: 2px solid black;
}.decor{
    color:rgb(159,68, 155);
  }
  .secondary-section {
    background-color: rgb(238,238,238);
    padding-top:100px;
    padding-bottom: 150px ;
    li{
      list-style:none;
    }
    h3{
      text-align: center;
    }
    a{
      display:block;
      position:relative;
      padding:110px 0 100px 0;
        text-decoration:none;


      &::before{
        content:"";
        display:block;
        background-image:url('../img/icons-sprite.png');
        width: 200px;
        height: 200px;
        position:absolute;
        margin-left:-100px;
        left:50%;
        top:20px;
      }

      &.icon-build::before {
        background-position: 0 0;
      }
        &:hover{
          &::before{
            background-image:url('../img/icons-sprite-hover.png');
          }
        }

      &.icon-clean::before{
        background-position:0 -200px;
      }
        &:hover{
          &::before{
            background-image:url('../img/icons-sprite-hover.png');
          }
        }

      &.icon-easy::before{
        background-position:0 -400px;
      }
        &:hover{
          &::before{
            background-image:url('../img/icons-sprite-hover.png');
          }
        }

      &.icon-fully::before{
        background-position:0 -600px;
      }
        &:hover{
          &::before{
            background-image:url('../img/icons-sprite-hover.png');
          }
        }
    }
  }
  .features {

    h3 {
      &::before {
        background-image:url('../img/icons-sprite.png');
        content: "";
        display: block;
        margin: 0 auto 10px;
        height: 190px;
        width: 200px;
        margin-top: 90px;
      }
    }

    h3, p {
      text-align: center;
      padding: 0 2px;
    }
  }

  .icon1{
    &::before {
      background-position: 0 -7px;
    }
  }
  .icon2{
    &::before {
      background-position: 0 -207px;
    }
  }
  .icon3{
    &::before {
      background-position: 0 -404px;
    }
  }
  .icon4{
    &::before {
      background-position: 0 -605px;
    }
  }
  .content-about-text {
    text-align: center;
    margin: 50px 0;
    h2 {
      display: inline-block;
      position: relative;
      &::before {
        position: absolute;
        display: block;
        bottom: -4px;
        left: -20px;
        content: '';
        width: 20px;
        height: 20px;
        border: solid rgb(159,68, 155);
        border-width: 0 0 1px 1px;
      }
      &::after{
        position: absolute;
        display: block;
        top: -7px;
        right: -10px;
        content: '';
        width:  20px;
        height:  20px;
        border: solid rgb(159,68, 155);
        border-width: 1px 1px 0 0 ;

      }
    }
  }
  .content-about {
    margin-bottom: 100px;
  }
  .content-about-text h2
  {
    text-align:center;
    color:grey;
    font-family: Lato, sans-serif;
    letter-spacing:2px;
    font-size:45px;
    margin: 20px  0;
  }
  .content-about-text small
  {
    color:rgb(159,68, 155);
    font-size:45px;
    font-family: 'Lato', sans-serif;
  }

  .content-about-grid-left img
  {
    width:100%;
  }
  .content-about-grid-right {
    padding-left:31px;
  }
  .content-about-grid-right p
  {
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    color: darkgrey;
    line-height: 33px;
    width: 92%;
    padding-left:20px;
  }
  .learn
  {
    margin-top: 2%;
    padding-left:20px;
  }
  .learn a
  {
    display: inline-block;
    background: rgb(159,68, 155);
    border-bottom: solid 5px rgb(159,68, 155);
    border-radius: 7px;
    padding:1em 3em;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color:white;
  }
  .learn a:hover
  {
    color:rgb(159,68, 155);
    text-decoration:none;
    background: transparent;
    border: solid 2px rgb(159,68, 155);
    border-top: solid 5px rgb(159,68, 155);
    border-radius: 10px;
    padding:1em 3em;
  }

  .content-about-bottom-text
  {
    text-align:center;
    padding: 20px 0;

  }
  .content-about-bottom-text p
  {
    font-family: 'Lato', sans-serif;
    font-size: 44px;
    color: white;
    font-weight: 300;
    margin:10px 0 0 0;
  }
  .hat-back{
    background-image:url('../img/section-bg.jpg');
    background-size: cover;
    padding: 100px 0;
    text-align: center;
  }
  .hat-back h2{
    padding-top: 130px;
    background: url('../img/icoEdu.png') no-repeat top center;
    color:white;
    font-family: 'Lato', sans-serif;
  }
  .row-arrow{
    text-align:center;
  }
  .left-arrow{
    background: url('../img/arr-l.png') no-repeat;
    height: 120px;
    width: 105px;
    margin-right:3px;
    display: inline-block;
  }
  .right-arrow{
    background:url('../img/arr-r.png') no-repeat ;
    height: 120px;
    width: 105px;
    margin-left:10px;
    display: inline-block;
  }
  .member{
    display: block;
  }
  .our-team{
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .team {
    position: relative;
    width: 3580px;
    li {
      margin:0 40px;
      display:inline-block;
      float: left;
      text-align: center;
    }
  }
  .circle{
    height: 232px;
    width: 232px;
    border: 3px solid lightslategrey;
    border-radius: 50%;
  }
  .circle1, .circle5, .circle9 {
    background-image: url('../img/images_team1.jpg');
  }

  .circle2, .circle6 {
    background-image: url('../img/images_team2.jpg');
  }

  .circle3, .circle7 {
    background-image: url('../img/images_team3.jpg');
  }

  .circle4, .circle8 {
    background-image: url('../img/images_team3.jpg');
  }


  .social-f {
    margin:0 10px 0 0;
    display:inline-block;
    height: 30px;
    width: 30px;
    background-image: url('../img/f.png');
    background-size: 30px 30px;
  }
  .social-g {
    text-align: center;
    display:inline-block;
    height: 30px;
    width: 30px;
    background-image: url('../img/g.png');
    background-size: 30px 30px;
  }
.progress-bar{
  height: 15px;
  background: rgb(159,68, 155) ;
}
.progress-wrap{
  width: 300px;
  height: 15px;
  background: lightgrey;
}
.webpercent{
  width: 300px;
}
.percent {
  display: inline-block;
  float: right;
}
.web{
  display:inline-block;
}

.container {
  position: relative;
  padding-bottom: 50px;
}
.container365{
	background-color:red;
	text-align:center;
	padding-top:80px;
	position: relative;

	li{
	list-style:none;
	}
	p{
		font-size: 70px;
		margin:0;
	}

}

.button-container {
  margin-top: 50px;
  margin-bottom: 50px; }

.plus {
  position: relative;
  display: inline-block; }
  .plus img {
    display: block; }
  .plus:hover:before {
    position: absolute;
    content: "";
    display: inline-block;
    background-image: url("../img/plus.png");
    background-color: rgba(0, 0, 0, 0.3);
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%; }

.contact {
  margin-top: 100px; }
  .contact .left-box {
    width: 50%;
    float: left;
    padding-bottom: 50px; }
    .contact .left-box .name, .contact .left-box .email {
      display: block;
      width: 90%;
      height: 50px;
      margin: 10px 0 10px 0;
      padding-left: 20px;
      border: 2px solid black;
      outline: none; }
      .contact .left-box .name:hover, .contact .left-box .email:hover {
        border: 2px solid purple; }
    .contact .left-box textarea {
      width: 90%;
      padding-left: 20px;
      padding-top: 20px;
      border: 2px solid black;
      outline: none; }
      .contact .left-box textarea:hover {
        border: 2px solid purple; }
  .contact .right-box {
    float: left;
    width: 50%;
    display: block;
    padding-left: 40px; }
    .contact .right-box h3 {
      padding-bottom: 21px; }

.social-icons {
  text-align: left; }
  .social-icons .icon-1::before {
    content: "";
    display: inline-block;
    background: url("../img/get-icons.png") no-repeat;
    width: 55px;
    height: 55px;
    background-position: -78px -4px; }
  .social-icons .icon-1:hover::before {
    background-position: -79px -64px; }
  .social-icons .icon-2::before {
    content: "";
    display: inline-block;
    background: url("../img/get-icons.png") no-repeat;
    width: 53px;
    height: 53px;
    background-position: -6px -6px; }
  .social-icons .icon-2:hover::before {
    background-position: -7px -66px; }
  .social-icons .icon-3::before {
    content: "";
    display: inline-block;
    background: url("../img/get-icons.png") no-repeat;
    width: 53px;
    height: 53px;
    background-position: -154px -6px; }
  .social-icons .icon-3:hover::before {
    background-position: -155px -66px; }

.footer {
  padding-top: 50px;
  padding-bottom: 70px;
  text-align: center; }

  .section-6{
  	background:url('../img/section-bg.jpg')100% 100%;
  	margin-top:100px;
  	img{
  		margin-top: 100px;
  	}
  	p{
  		text-align: center;
  		color: white;
  		font-size: 30px;
  		padding-bottom: 100px;
  	}
  	.row{
  		text-align:center;
  	}

  }
  .container365 {
  	background-color:#DCDCDC;
  	text-align:center;
  	padding-top:80px;
  	position: relative;

  	li{
  	list-style:none;
  	}
  	p{
  		font-size: 70px;
  		margin:0;
  	}

  }

  .kolo{
  	width:200px;
  	height:200px;
  	border-radius:50%;
  	margin:0 auto;
  }

  .container-blog{
  	background-color:#DCDCDC;
  	text-align:center;
  	padding:50px 0 50px 0;
  	position: relative;
  	.kolo6{
  	background:url('../img/n2.jpg');
  	}
  	.kolo7{
  	background:url('../img/n3.jpg');
  	}
  	.kolo8{
  	background:url('../img/n4.jpg');
  	}
  	.kolo9{
  	background:url('../img/n5.jpg');
  	}
  	.kolo10{
  	background:url('../img/n1.jpg');
  	}
  }

  .white_div{
  		position: absolute;
  		width: 80%;
  		height: 30px;
  		left: 50%;
  		//margin-left: -40%;
  		transform: translate(-50%, 0);
  		background-color:white;
  		bottom:0;
  	}


    .container-portfolio {
    	text-align:center;


    	.button-sec-9{
    		display: inline-block;
    		width: 70px;
    		border:2px solid black;

    		text-align: center;
    		color:black;
    		font-size: 15px;
    		padding:10px;
    		border-radius:5px 5px 5px 5px;
    		text-decoration: none;
    		margin-bottom: 50px;
    		&:hover{
    		background-color:purple;
    		}
    	}
    }

    .button-container{
    		margin-top: 50px;
    		margin-bottom: 50px;
    	}


    .plus{
    	position:relative;
    	display:inline-block;
    	img{
    		display:block;
    		}
    		&:hover{
    			&:before{
    			position:absolute;
    			content:"";
    			display:inline-block;
    			background-image:url('../img/plus.png');
    			background-color: rgba(0, 0, 0, 0.3);
    			background-repeat:no-repeat;
    			background-position:center center;
    			display:block;
    			width: 100%;
    			height: 100%;
    			top:0;
    			left:0px;
    			width:100%;
    			height:100%;
    		}
    	}
    }


    .contact{
    	margin-top:100px;
    	.left-box{
    		width:50%;
    		float:left;
    		padding-bottom:50px;
    		.name, .email{
    	 		display: block;
    	 		width: 90%;
    	 		height: 50px;
    	 		margin:10px 0 10px 0;
    	 		padding-left:20px;
    	 		border:2px solid black;
    	 		outline: none;
    	 		&:hover{
    			border:2px solid purple;
    		}
    		}

    		textarea{
    			width: 90%;
    			padding-left:20px;
    			padding-top:20px;
    			border:2px solid black;
    	 		outline: none;
    			&:hover{
    				border:2px solid purple;
    			}
    		}
    	 }
    	.right-box{
    		float:left;
    		width:50%;
    		display:block;
    		padding-left:40px;
    		h3{
    			padding-bottom:21px;
    		}
    	}
    }

    .social-icons{
    text-align: left;


    	.icon-1 {

    		&::before {
    			content: "";
    			display: inline-block;
    			background: url('../img/get-icons.png') no-repeat;
    			width: 55px;
    			height: 55px;
    			background-position: -78px -4px;
    		}
    		&:hover {
    			&::before {
    				background-position:-79px -64px;
    			}
    		}
    	}



    	.icon-2 {
    		&::before {
    			content: "";
    			display: inline-block;
    			background: url('../img/get-icons.png') no-repeat;
    			width: 53px;
    			height: 53px;
    			background-position: -6px -6px;
    		}
    		&:hover {
    			&::before {
    				background-position: -7px -66px;
    			}
    		}
    	}


    	.icon-3 {
    		&::before {
    			content: "";
    			display: inline-block;
    			background: url('../img/get-icons.png') no-repeat;
    			width: 53px;
    			height: 53px;
    			background-position: -154px -6px;
    	}
    	&:hover {
    			&::before {
    				background-position:-155px -66px;
    			}
    		}
    	}

    }


    .footer{
    	padding-top:50px;
    	padding-bottom:70px;
    	text-align:center;
    }



    @media only screen and( max-width: 992px ){
    	.button-email{
    		text-align: center;
    		padding-top:50px;
    	}
    	.social-icons{
    		ul{
    			margin:0;
    			padding:0;
    		}
    	}
    	.arrow-section4{
    		text-align: center;
    	}
    	.team-slider{
    		width: 350px;}
    	.section1{
    		li{
    			display: inline-block;
    		}
    	}
    	.section2{
    		.button-container{
    			text-align:center;
    		}
    		p{
    			text-align: center;
    			margin-bottom:10px;
    		}
    	}
    	.main_container{
    		font-size: 15px;
    		img{
    			width: 300px;
    		}
    	}
    	nav {
    		.hamburger{
    			float: right;
    		}
    		ul{

    			text-align: center;
    			width: 100%;
    		}
    		li{
    			display:block;
    			border-bottom:1px solid black;

    			width:300px;
    			padding-bottom:10px;
    			padding-top:10px;
    			margin:0 auto;

    		}
    	}
    }

    @media only screen and (min-width:992px){
    	.hamburger{
    		display: inline-block;
    	}
    }

    .nav-inside{
    	display:none;
    	@media only screen and(min-width:992px){
    			display: block;

    	}

    }
